//TEMP
$dark-blue: #252839;
$grey: #B5B5B7;
$white: #FFFFFF;

//COLORS
$teal-color: #00a7b5;
$olive-color: #8ec5a8;
$purple-color: #52247f;
$dark-teal-color: #005776;
$light-red-color: #d06579;
$alt-black-color: #1b2227;
$off-white-color: #d7d2cb;
$dark-grey-color: #63666a;
$light-maroon-color: #9e247b;
$light-dark-grey-color: #39434c;
