html{
	font-size: 62.5%;
}

body{
	color: $white;
	font-weight: 400;
	line-height: 1.7;
	font-size: 1.6rem;
	box-sizing: border-box;
	background-color: $dark-blue;
	font-family: 'Raleway', sans-serif;
}